html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
 body{
  background-color: black;
 }

/*p,h1{
  color: white;
}*/

/*#texts{
 background-color: black;
}
*/
.column {
  float: left;
  width: 23.3%;
  margin-bottom: 16px;
  padding: 0 8px;
  margin-left: 7.5%;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10%;
}

.container {
  padding: 0 16px;
  z-index: 3;
}

.container button{
  margin-left: 65px;
  border-radius: 80px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 60%;
}

img{
  border-radius: 10%;
  border-bottom-right-radius: 0%;
  border-bottom-left-radius: 0%;
  height: 330px;
}

.button:hover {
  background-color: #555;
}



/*footer*/
.social-icon a {
  width: 40px;
  height:40px;
  background: #fff;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  margin: 0 10px;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid white;
  left:50%;
  margin-right: 0;
  margin-top: 0;
  }

.social-icon a .fa{
  position: relative;
  color: #262626;
  transition: .5s;
  } 
.social-icon a:hover .fa{
  transform: rotateY(360deg);
  }

.footer{
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: black; 
  margin-left: -10px;
}

.contain{

  max-width: 600px;
  margin-left: auto;
  margin-top: -56px;
}
.social-icon {
    max-width: 550px;
    margin-right: -670px;

}

/*subscribe form*/
form {
    font-family: Arial;
    text-align: left;
    }
.con {
    padding: 1px;  
    margin-left: 0;
    width :500px;
    }
#para{
  color: white;
  margin-left: 10px;
    }
input[type=text], input[type=submit] {
    width: 300px;
    padding: 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: left;
    margin-left: 12px;
    }
input[type=submit] {
    background-color: #A239CA;
    width:150px;
     text-align: center;
    color: white;
    border: none;
    }

input[type=submit]:hover {
    opacity: 0.8;
    }