* {
    box-sizing: border-box;
}

body {
    margin: 0;
    
    background-color: black;
}

img{
    border-radius: 10%;
}

h1 {

    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width:1px; 
    /*font-family: 'Bangers', cursive;*/
    font-size: 60px;
    letter-spacing: 7px;
    color: #D6CE15;
}

.header {
    text-align: center;
    padding: 10px;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 10px;
}

/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 33%;
    padding: 0 12px;
}

.column img {
    margin-top: 5%;
    vertical-align: middle;

}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}

/*footer*/
.social-icon a {
  width: 40px;
  height:40px;
  background: #fff;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  margin: 0 10px;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid white;
  left:50%;
  margin-right: 0;
  margin-top: 0;
  }

.social-icon a .fa{
  position: relative;
  color: #262626;
  transition: .5s;
  } 
.social-icon a:hover .fa{
  transform: rotateY(360deg);
  }

.footer{
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #000; 
}

.contain{

  max-width: 700px;
  margin-left: auto;
  margin-top: -56px;
}
.social-icon {
    max-width: 550px;
    margin-right: -670px;

}

/*subscribe form*/
form {
    font-family: Arial;
    text-align: left;
    }
.con {
    padding: 1px;  
    margin-left: 0;
    width :500px;
    }
#para{
  color: white;
  margin-right: 54%;
    }
input[type=text], input[type=submit] {
    width: 300px;
    padding: 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: left;
    }
input[type=submit] {
    background-color: #A239CA;
    width:150px;
     text-align: center;
    color: white;
    border: none;
    }

input[type=submit]:hover {
    opacity: 0.8;
    }